<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loc and Kiss</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <style>
    /* Styles for the page */
body {
background-image: url('static/background_welcome4.jpg');
}

  </style>
  <body>
    <div class="overlay">
      <h1>Loc and Kiss</h1>
      <h2>Travel the world while kissing with your loved one.</h2>
      <a href="login" class="btn">Log In</a>
      <p>No account ? <a href="signup" class="p">Sign Up</a></p>
    </div>
  </body>
</html>
